---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_SUB_TITLE } from "../config";
import PostTile from "../components/PostTile.astro";
import TagsFilter from "../components/TagsFilter.astro";
import { findTags, mapPosts } from "../utils/post.utils";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob("./blog/*.{md,mdx}");
const mappedPosts = mapPosts(posts);

const tag = "general";
const tags = findTags(mappedPosts);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="dark:bg-black text-black dark:text-white">
		<Header />
		<main>
			<h2 class="font-bold text-xl mb-6 dark:text-white">
				{SITE_SUB_TITLE}
			</h2>

			<h3 class="font-bold text-red-500 text-lg">Posts</h3>

			<TagsFilter selectedTag={tag} tags={tags} />

			<div class="grid grid-cols-1 gap-4 mt-3 mb-3">
				{
					mappedPosts.map((p) => (
						<PostTile
							url={p.url}
							title={p.frontmatter.title}
							description={p.frontmatter.description}
							date={p.frontmatter.pubDate}
						/>
					))
				}
			</div>
			<Footer />
		</main>
	</body>
</html>
