---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import PostTile from "../components/PostTile.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Awesome blog</h1>

			Here would be some awesome text about this blog

			<p class="font-bold">Posts</p>

			<div
				class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mt-3 mb-3"
			>
				{
					posts.map((p) => (
						<PostTile
							url={p.url}
							title={p.frontmatter.title}
							description={p.frontmatter.description}
							date={p.frontmatter.pubDate}
							is:raw
						/>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
